.minimalistBlack {
  border: 3px solid #000000;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.minimalistBlack td, table.minimalistBlack th {
  border: 1px solid #000000;
  padding: 5px 4px;
}.minimalistBlack {
  border: 3px solid #000000;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.minimalistBlack td, table.minimalistBlack th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
.minimalistBlack tbody td {
  font-size: 13px;
}
.minimalistBlack thead {
  background: #49CF1B;
  background: -moz-linear-gradient(top, #76db54 0%, #5bd331 66%, #49CF1B 100%);
  background: -webkit-linear-gradient(top, #76db54 0%, #5bd331 66%, #49CF1B 100%);
  background: linear-gradient(to bottom, #76db54 0%, #5bd331 66%, #49CF1B 100%);
  border-bottom: 3px solid #000000;
}
.minimalistBlack thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
.minimalistBlack tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border-top: 3px solid #000000;
}
.minimalistBlack tfoot td {
  font-size: 14px;
}
.minimalistBlack tbody td {
  font-size: 13px;
}
.minimalistBlack thead {
  background: #4FCF42;
  background: -moz-linear-gradient(top, #7bdb71 0%, #60d355 66%, #4FCF42 100%);
  background: -webkit-linear-gradient(top, #7bdb71 0%, #60d355 66%, #4FCF42 100%);
  background: linear-gradient(to bottom, #7bdb71 0%, #60d355 66%, #4FCF42 100%);
  border-bottom: 3px solid #000000;
}
.minimalistBlack thead th {
  font-size: 15px;
  font-weight: bold;
  color: #080807;
  text-align: left;
}
.minimalistBlack tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border-top: 3px solid #000000;
}
.minimalistBlack tfoot td {
  font-size: 14px;
}